/app/build/
/build/android-profile/

# IntelliJ IDEA
.idea/
#*.iml

# Gradle
.gradle/
#build

# Local configuration file (sdk path, etc)
#local.properties

# Mac system files
.DS_Store
.gitattributes

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out
/filenametags
/fullfilenametags
/tags
/.gitignore

*.swp
*.pyc

**/keil/bin/
**/atollic_gcc/bin/
