build.xml
bin
gen
out
default.properties
local.properties
proguard.cfg
.classpath
.project
project.properties
.idea
*.iml
*.apk
.gradle
build
app/build
.DS_Store

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out
/filenametags
/fullfilenametags
/tags
/.gitignore

*.swp
*.pyc

**/keil/bin/
**/atollic_gcc/bin/
